@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-light-brown font-kumbha;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      180deg,
      #ffb393 0%,
      #ffdcbc 20%,
      #fff1d7 40%,
      #ffeddc 80%,
      #fff 100%
    ) no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}
